@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-slate-200 bg-slate-950;
        font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    }

    /* Smooth Scrolling */
    html {
        scroll-behavior: smooth;
    }

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-slate-950;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
    }
}